.header {
  margin: 40px auto;
  width: 1030px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userContainer img {
  margin-right: 8px;
}

.userContainer span {
  font-size: 14px;
}
