.imageContainer {
  position: relative;
  width: 246px;
  height: 370px;
  border: 1px solid #6627ff;
  border-radius: 10px;
  margin-bottom: 24px;
  overflow: hidden;
}

.mockedBanner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  margin: 0 14px;
}

.cardDescription span {
  margin-bottom: 4px;
}
